@import "~bootstrap/scss/_functions";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700&display=swap&subset=chinese-traditional");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css");
* {
  position: relative;
  font-family: "Noto Sans TC", sans-serif;
}
@import "./helps/variables";
@import "~bootstrap/scss/bootstrap";

body {
  position: relative;
}
// home
.bg-right {
  position: fixed;
  top: 50%;
  right: 0%;
  transform: translate(50%, -50%);
  width: 800px;
  height: 100vh;
  border: 5px solid #fff;
  box-shadow: 0 0 0 5px #4973ff;
}
.wave {
  position: fixed;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 20%;
    height: 20%;
    top: 0%;
    right: 400px;
    background: #000;
  }
  &::before {
    border-radius: 50%;
    // background: rgba(255,255,255,0.8);
    animation: animate 5s linear infinite;
  }
  &::after {
    border-radius: 50%;
    // background: rgba(255,255,255,1);
    animation: animate 5s linear infinite;
  }
}
//   .bg-right{
//       position: absolute;
//       top: 50%;
//       right: 0%;
//       transform: translate(-50%,-50%);
//       width: 150px;
//       height: 150px;
//       background-image: url('/pic/vivian.jpg');
//       background-size: contain;
//       border: 5px solid #fff;
//       border-radius: 50%;
//       box-shadow: 0 0 0 5px #4973ff;
//       .wave{
//           position: relative;
//           width: 100%;
//           height: 100%;
//           background-image: url('/pic/vivian.jpg');
//           background-size: contain;
//           border-radius: 50%;
//           box-shadow: inset 0 0 50px rgba(0,0,0,0.5);
//           &::before,&::after{
//             content: '';
//             position: absolute;
//             width: 200%;
//             height: 200%;
//             top: 0;
//             left: 50%;
//             transform: translate(-50%,-75%);
//             background: #000;
//           }
//           &::before{
//             border-radius: 45%;
//             background: rgba(255,255,255,0.1);
//             animation: animate 5s linear infinite;
//           }
//           &::after{
//             border-radius: 40%;
//             background: rgba(255,255,255,0.5);
//             animation: animate 5s linear infinite;
//           }
//       }
//   }
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
// slider

#slider {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 33.33333%;
  .imgList {
    position: absolute;
  }
}

.u-padding-8 {
  padding-left: 8px;
  padding-right: 8px;
}
.u-r-marging-8 {
  margin-left: -8px;
  margin-right: -8px;
}

.list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  li {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 150px;
    height: 80px;
    color: #d9d2d7;
    background-color: #707070;
    box-shadow: 0 0 0 4px #a8a1a6;
    & + li {
      margin-left: 100px;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        z-index: -1;
        left: -100px;
        width: 150px;
        height: 5px;
        background-color: #707070;
      }
    }
    &.active ~ li {
      background-color: #a8a1a6;
      color: #d9d2d7;
      box-shadow: 0 0 0 0px #a8a1a6;
    }
    &.active ~ li::before {
      background-color: #d9d2d7;
    }
  }
}
// gallery
.card-outer {
  overflow: hidden;
  .fav-icon-wrap {
    top: 0;
    right: 0;
    transition: right 1s;
  }
  &:hover {
    .fav-icon-wrap {
      top: 0;
      right: 10%;
      .fav-icon {
        width: 30px;
        height: 30px;
        z-index: 99;
        background-color: #fff;
        &:hover {
          color: red;
        }
      }
    }
  }
}
.card-img-overlay,
.m_card-img-overlay {
  overflow: hidden;
  #addcart,
  #seedetail {
    transition: transform 0.45s;
    transform: translate(-100%, 200%);
  }
  #seedetail {
    transform: translate(100%, 200%);
  }
  &:hover {
    #addcart {
      transform: translate(-10%, 20%);
    }
    #seedetail {
      transform: translate(10%, 20%);
    }
  }
}
.web-card {
  overflow: hidden;
  .card-img {
    transition-duration: 0.5s;
    transition-property: transform;
  }
  &:hover {
    .card-img {
      transform: scale(1.2) rotate(5deg);
      transition-duration: 8s;
    }
  }
}
.btn-to-top {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1rem;
}
@media (min-width: 768px) {
  .card-img-overlay {
    padding-top: 55%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
@media (min-width: 992px) {
  .card-img-overlay {
    padding-top: 55%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    .btn {
      font-size: 16px;
      padding: 8px;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
}
@media (min-width: 1200px) {
  .card-img-overlay {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 55%;
    .btn {
      font-size: 16px;
      padding: 8px;
    }
  }
}

// icon
.fa-trash {
  width: 24px;
  height: 24px;
}
